.nav_wrap {
  background-color: white;
  font-size:1em;

}

.LeftNav h3 {
  color: #a3a3a3;
  font-size: .65em;
  margin-top: 2em;
}

.nav_wrap ul {
  margin:0px;
  padding:0px;
}

.nav_wrap li {
  list-style: none;
  font-size: 0.8em;
}

.nav_wrap a {
  color: #4a4a4a;
  cursor: pointer;
  display:block;
  height: 2em;
  line-height: 25px;
  /*text-indent: 10px;*/
  text-decoration:none;
  width:100%;
  font-weight: 400;
}

.nav_wrap a:hover {
  font-weight: bold;
}
