@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 990px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.leftNav-container {
  flex: 1;
}

.content-container {
  flex: 4;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
